@font-face {
  font-family: 'Helvetica';
  src: url('fonts/Helvetica\ Neue\ LT\ Std\ 93\ Black\ Extended.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

/* Aplic치s el margen de scroll a todos los elementos que puedan ser destino */
div[id], section[id] {
  scroll-margin-top: 80px; /* Altura de tu navbar (ajust치 si hace falta) */
}


/* Elimina los m치rgenes y padding por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #01237F;
  width: 100%;
  overflow-x: hidden;
  font-family: Helvetica;
}



/* contador */

.countdown-container {
  
  text-align: center;
  color: #fff;
  margin: 40px 0;
}

#countdown {
  
  display: flex;
  justify-content: center;
  gap: 20px;
  font-family: 'Courier New', monospace;
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 2%;
}

#countdown div {
font-family: helvetica;
}

#countdown small {
  display: block;
  font-size: 0.7rem;
  margin-top: 5px;
  color: #aaa;
}

.ad {
  text-align: center;
  margin: 5%;
  color: #EA7B00;
}

.ad p {
  color: #D5D6E8;
  
}

.video {
             /* tama침o del cuadrado */
    margin: 0 auto;        /* lo centra horizontal */
    position: relative;
    overflow: hidden;
    
}

.video video {
    width: 100%;
    height: 100%;
    object-fit: cover;     /* recorta para que quede cuadrado perfecto */
    display: block;
}
