html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #040714;
    color: #f9f9f9;
    font-family: Avenir-Roman, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #f9f9f9;
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: #090b13;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;
    letter-spacing: 16px;
    z-index: 3;
}

.navLogo {
    padding: 0;
    width: 80px;
    margin-top: 4px;
    max-height: 70px;
    font-size: 0;
    display: inline-block;
}

.navLogo img {
    display: block;
    width: 70%;
}

.navMenu {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    position: relative;
    margin-right: auto;
    margin-left: 25px;
}

.navMenu a {
    display: flex;
    align-items: center;
    padding: 0 12px;
}

.navMenu a img {
    height: 20px;
    min-width: 20px;
    width: 20px;
    z-index: auto;
}

.navMenu a span {
    color: rgb(249, 249, 249);
    font-size: 13px;
    letter-spacing: 1.42px;
    line-height: 1.08;
    padding: 2px 0px;
    white-space: nowrap;
    position: relative;
}

.navMenu a span::before {
    background-color: rgb(249, 249, 249);
    border-radius: 0px 0px 4px 4px;
    bottom: -6px;
    content: "";
    height: 2px;
    left: 0px;
    opacity: 0;
    position: absolute;
    right: 0px;
    transform-origin: left center;
    transform: scaleX(0);
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    visibility: hidden;
    width: auto;
}

.navMenu a:hover span::before {
    transform: scaleX(1);
    visibility: visible;
    opacity: 1 !important;
}

.TwitterCC {
    position: relative;
    height: 48px;
    width: 48px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.TwitterCC .userImg {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.TwitterCC .dropDown  {
    position: absolute;
    top: 48px;
    right: 0;
    background: rgb(19, 19, 19);
    border: 1px solid rgba(151, 151, 151, 0.34);
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 50%) 0px 0px 18px 0px;
    padding: 10px;
    font-size: 14px;
    letter-spacing: 3px;
    width: 100px;
    opacity: 0;
}

.TwitterCC:hover .dropDown {
    opacity: 1;
    transition-duration: 1s;
}

main {
    position: relative;
    min-height: calc(100vh - 250px);
    overflow-x: hidden;
    display: block;
    top: 72px;
    padding: 0 calc(3.5vw + 5px);
}

main::after {
    background: url(images/extras/swarm-background.png) center center;
    content: "";
    position: absolute;
    inset: 0px;
    opacity: 1;
    z-index: -1;
    top: -30%;
    bottom: 5%;
    
}

/* Estilos para la sección del primer evento */

#primer-evento {
    width: 100%;
    background-color:  /* Fondo oscuro */
    border-radius 8px;
    padding: 0%
} 

.evento-container {
    max-width: 30%;
    border: 0px solid #fff; /* Borde blanco delgado */
    transition: transform 0.3s ease; /* Transición suave de transformación */
    width: auto;
    margin-bottom: 8%;
    margin-top: 5%;
    position:relative
}

.evento-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px; /* Bordes redondeados */
}

.recommends {
    padding: 0 0 26px;
}

.recommendedContent {
    display: grid;
    grid-gap: 25px;
    gap: 25px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.recWrap {
    padding-top: 56.25%;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    border: 3px solid rgba(249, 249, 249, 0.1);
}

.recWrap img {
    inset: 0px;
    display: block;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    position: absolute;
    transition: opacity 500ms ease-in-out 0s;
    width: 100%;
    z-index: 1;
    top: 0;
}

.recWrap:hover {
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    transform: scale(1.05);
    border-color: rgba(249, 249, 249, 0.8);

}


